:root {
  --transition-duration-default: 300ms;
  --transition-duration-long: 500ms;
  --spacing: 1.45rem;
}

.leftSide {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: width var(--transition-duration-long) ease-in-out;
}

.rightSide {
  position: absolute;
  top: 0;
  transition: left var(--transition-duration-long) ease-in-out;
  box-shadow: -8px 3px 12px 3px rgba(250, 195, 250, 1);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 130px;
  border: 3px solid gray;
  border-radius: 50%;

  margin-bottom: var(--spacing);
}

.projectButton {
  margin: var(--spacing) 0;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px var(--spacing);

  outline: 0;
  cursor: pointer;
}

.iconLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 10px;

  border: 1px solid black;
  border-radius: 50%;
  text-decoration: none;
  color: darkgray;

  transition-property: transform, color;
  transition-duration: var(--transition-duration-default);
  transition-timing-function: ease-out;
}

.iconLink:hover {
  transform: scale(1.25);
  color: black;
}

.projects {
  height: 100vh;
  padding: calc(2 * var(--spacing));
  overflow: scroll;
}

.projects h2:first-of-type {
  margin-top: 0;
}
