:root {
  --transition-duration-default: 300ms;
  --transition-duration-long: 500ms;
  --spacing: 1.45rem;

  --mobile-breakpoint: 992px;

  --open-width: 25%;
}

.leftSide {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: width var(--transition-duration-long) ease-in-out;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 130px;
  border: 3px solid gray;
  border-radius: 50%;

  margin-top: var(--spacing);
  margin-bottom: var(--spacing);

  transition-property: filter;
  transition-duration: calc(var(--transition-duration-default) * 3);
  transition-timing-function: ease-out;
}

.high-five {
  margin: calc(var(--spacing)) 0;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
}
.high-five p {
  margin: calc(var(--spacing) / 3) 0;
  font-size: 14px;
  font-weight: 20;
  text-align: center;
  justify-content: center;
  opacity: 0.3;
}

.projectButton {
  margin: var(--spacing) 0;
  transition: all 0.3s;
  position: relative;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.projectButton span {
  transition: all 0.3s;
}

.projectButton::before,
.projectButton.clicked::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all var(--transition-duration-default);
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(143, 140, 140, 0.5);
  border-bottom-color: rgba(143, 140, 140, 0.5);
  transform: scale(0.1, 1);
}
.projectButton.clicked::before {
  border-top-color: rgba(0, 0, 0, 1);
  border-bottom-color: rgba(0, 0, 0, 1);
}
.projectButton::after,
.projectButton.clicked::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(143, 140, 140, 0.05);
}

.projectButton:hover span,
.projectButton.clicked span {
  letter-spacing: 3px;
}

.projectButton.clicked span {
  opacity: 1;
}

.projectButton:hover::before,
.projectButton.clicked::before {
  opacity: 1;
  transform: scale(1, 1);
}
.projectButton:hover::after,
.projectButton.clicked::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

span {
  opacity: 0.5;

  transition-property: transform, opacity;
  transition-duration: var(--transition-duration-default);
  transition-timing-function: ease-out;
}

span:hover {
  transform: scale(1.1);
  opacity: 1;
}

.iconLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 10px;

  border: 1px solid black;
  border-radius: 50%;
  text-decoration: none;
  opacity: 0.5;

  transition-property: transform, opacity;
  transition-duration: var(--transition-duration-default);
  transition-timing-function: ease-out;
}

.iconLink:hover {
  transform: scale(1.25);
  opacity: 1;
}

.projects {
  padding: calc(2 * var(--spacing));
}

.projects h2:first-of-type {
  margin-top: 0;
}

/* Desktop View */
@media only screen and (min-width: 992px) {
  .leftSide {
    height: 100vh;

    transition: width var(--transition-duration-long) ease-in-out;
  }
  .leftSide.open {
    width: 25%;
  }
  .leftSide.closed {
    width: 100%;
  }

  .rightSide {
    width: 75%;
    position: absolute;
    top: 0;
    box-shadow: -8px 3px 12px 3px rgba(250, 195, 250, 1);
    transition: left var(--transition-duration-long) ease-in-out;
  }
  .rightSide.open {
    left: var(--open-width);
  }

  .rightSide.closed {
    left: 100%;
  }

  .projects {
    height: 100vh;
    overflow-y: scroll;
  }
}

/* Mobile View */
@media only screen and (max-width: 992px) {
  .leftSide {
    height: 40vh;
  }

  .rightSide {
    box-shadow: 0 -5px 12px 3px rgba(250, 195, 250, 1);
  }

  .projectButton {
    display: none;
  }
}
