a {
  color: initial;
  background-image: none;
}

html,
body {
  overflow: hidden;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 50px;
  border: 3px solid white;
}
